<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайтик с мозгами типа</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        Это мой сайт с мозгами, тут вы можете пообщаться с роботом
    </header>
    <main>
        <form action="/req" method="post">
            <label for="input">Вопрос для нейросети</label>
            <input value="" name='req' placeholder="Введите ваш запрос">
            <button type="submit">Отправить</button>
            <!-- Здесь можно добавить чекбокс с именем 'check' -->
             <!-- Также можно добавить еще один input для ввода имени пользователя, где name 'name' -->
        </form>
        {% for message in messages %}
        <!-- Добавить условное отображение элемента "Мысли" -->
         <!-- Изменить обращение по индексу на обращение по ключу (поменять список на словарь) -->
            <h2>Запрос</h2>
            <p>{{ message[0] }}</p>
            <h2>Мысли</h2>
            <p>{{ message[1] }}</p>
            <h2>Контент</h2>
            <p>{{ message[2] }}</p>
        {% endfor %}
    </main>
</body>
</html>